<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
       
    </header>
    
    <break class="break">
        <div class="photo">
            <img src="./images/selfie.jpg" alt="self photo">
        </div>
        <div class="name">
            Kim Hage
        </div>
    </break>
    
    
    <nav>
        <a href="#Bio">About Me</a>
        <a href="#Contact">Contact Me</a>
        <a href="#Examples">Previous work</a>
    </nav>

    <div class="cardcontainer">
        <div class="card">
            <div class="cardheader">
                <h2>Bio</h2> 
            </div>
            <p> I am a Web development student that loves to work on the look and feel of a site.</p>
        </div>
        <div class="card">
            <div class="cardheader">
                <h2>Proficent with</h2> 
            </div>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                    <li>React</li>
                    <li>Node</li>
                    <li>MySQL</li>
                    <li>Mongoose</li>
                </ul>
            </div>
    </div>


</body>
</html>